.dropBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: var(--color-dark-shade-75);
  cursor: pointer;

  &:hover, &:focus {
    border: 1px solid var(--color-dark-shade-50);

    .icon {
      color: var(--color-dark-shade-50);
    }
  }

  &.open {
    border-color: var(--color-dark-shade-50);
    border-radius: 4px 4px 0 0;

    .icon {
      transform: rotate(180deg);
      color: var(--color-dark-shade-50);
    }
  }
}

.icon {
  font-size: 24px;
  color: var(--color-dark-shade-25);
}

.wrapper {
  position: relative;
}

