.card {
  max-width: 380px;
  width: 100%;

  h1{
    margin-bottom: 20px;
  }
}

.login {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.buttonForm {
  margin-bottom: 30px;
}

.createAccount {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: var(--color-dark-shade-100);
  }
}