.card {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.total {
  display: flex;
  align-items: baseline;

  span {
    font-weight: 700;
    font-size: 19px;
    color: var(--color-dark-shade-100);
  }
}

.line {
  flex: 1;
  margin: 0 4px;
  border-bottom: 1px dashed var(--color-dark-shade-25);
}