.main {
  background-image: url("./background-1.jpg");
  background-size: cover;
  background-position: bottom;
}

.wrapper {
  padding-top: 70px;
}

.info {
  margin-top: 315px;
  text-align: right;
}
