.root{
  position: relative;
}

.input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: var(--color-dark-shade-75);

  &:hover, &:focus {
    border: 1px solid var(--color-dark-shade-50);
  }

  &::placeholder{
    color: var(--color-dark-shade-25);
  }
}

.inputError{
  border: 1px solid #fcb2b2;

  &:hover, &:focus {
    border: 1px solid #f44336;
  }
}

.error {
  position: absolute;
  bottom: 0;
  left: 16px;
  transform: translateY(4px);
  font-size: 10px;
  color: #f44336;
  user-select: none;
}