.input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 4px;
  font: inherit;
  font-size: 14px;
  color: var(--color-dark-shade-75);

  &:hover, &:focus {
    border: 1px solid var(--color-dark-shade-50);
  }
}