.input {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 4px;
  font: inherit;
  font-size: 14px;

  &::placeholder {
    color: var(--color-dark-shade-25)
  }

  &:hover, &:focus {
    border: 1px solid var(--color-dark-shade-50);
  }
}