.btn {
  display: inline-flex;
  justify-content: center;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.white {
  padding: 10px 20px;
  background:
          linear-gradient(#fff, #fff) content-box,
          linear-gradient(#fff, #fff) padding-box,
          linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: solid 2px transparent;
  color: #bc9cff;
}