.wrapper {
  padding: 0;
  max-width: 270px;
}

.content {
  padding: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}