.wrapper {
  display: flex;
}

.panel {
  flex: 0 1 260px;
  margin-right: 60px;
}

.board {
  flex: 1;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 20px;
}


