.wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 70px;
}

.panel {
  flex: 0 1 266px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.board {
  flex: 1;

  h1 {
    margin-bottom: 20px;
  }
}

.rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 20px;
}


