.footer {
  background-color: #fff;
  border-top: 1px solid var(--color-dark-shade-25);
  box-shadow: var(--box-shadow);

  h3, li {
    margin-bottom: 20px;
  }

  a {
    color: var(--color-dark-shade-50);
    transition: var(--transition);

    &:hover, &:focus {
      color: var(--color-dark-shade-100);
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.info {
  flex: 0 1 260px;

  p {
    margin-top: 20px;
  }
}

.subscription {
  flex: 0 1 260px;
}
