* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-dark-shade-100: #1F2041;
  --color-dark-shade-75: rgba(31, 32, 65, 0.75);
  --color-dark-shade-50: rgba(31, 32, 65, 0.5);
  --color-dark-shade-25: rgba(31, 32, 65, 0.25);
  --color-dark-shade-10: rgba(31, 32, 65, 0.10);
  --color-dark-shade-5: rgba(31, 32, 65, 0.05);
  --color-purple: #BC9CFF;
  --color-green: #6FCF97;

  --transition: all 400ms ease;

  --box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  --box-shadow-variant: 0px 0px 25px rgba(0, 0, 0, 0.2);;

  --width-container: 1200px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark-shade-75);
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--color-dark-shade-100);
  text-transform: uppercase;
}

h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: var(--color-dark-shade-100);
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-dark-shade-100);
  text-transform: uppercase;
}