.card {
  max-width: 380px;
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 5px;
  }
}

.fullName {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.radioButtons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.dateBirth {
  margin-bottom: 20px;


}

.login {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.buttonForm {
  margin-top: 20px;
  margin-bottom: 30px;
}

.createAccount {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: var(--color-dark-shade-100);
  }
}